*.class
/sensite/Sensite/nbproject/private/
/sensite/Sensite/build/
/sensite/Sensite/dist/
/SensiteKB/nbproject/private/
/SensiteKB/build/
/SensiteWS/nbproject/private/
/SensiteWS/build/
/SensiteWS/dist/
/SensiteKB/data/
/SensiteKB/dist/
/SensiteService/target/
